{% for file in files|sort(attribute='name') %}
<li>
  <a
    class="flex flex-wrap p-3 md:p-4 bg-stone-600 hover:bg-emerald-700 rounded-lg transition-all duration-200 group shadow-sm hover:shadow-md gap-2 sm:gap-3"
    href="{{ url_for('download_file', filename=file.path) }}"
  >
    <div class="flex flex-auto items-center gap-2">
      <span
        class="text-stone-200 group-hover:text-white font-medium text-sm md:text-base break-all"
        >{{ file.name }}</span
      >
    </div>
    <div class="flex items-center justify-between gap-2 mx-auto">
      <span
        class="text-xs font-medium text-stone-400 group-hover:text-stone-300 bg-stone-700 px-2 py-1 rounded whitespace-nowrap"
      >
        {{ file.date }}
      </span>
    </div>
  </a>
</li>
{% endfor %}
